<div id="carouselExampleCaptions" class="carousel slide my-5" data-bs-ride="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="assets/slide-1.jpg" class="d-block w-100" alt="img campaña escolar">
            <div class="carousel-caption d-none d-lg-block">
                <h2 class="mb-5 fw-light text-dark">Porque todos tienen derecho a la educacion! </h2>

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="assets/slide-2.jpg" class="d-block w-100" alt="img campaña escolar ">
            <div class="carousel-caption d-none d-lg-block">
                <h2 class="mb-5 fw-light text-dark">Ayuda a la educacion de niños y niñas</h2>

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="assets/slide-3.jpg" class="d-block w-100" alt="img campaña escolar ">
            <div class="carousel-caption d-none d-lg-block">
                <h2 class="mb-5 fw-light text-dark">Porque tu puedes hacer el cambio!</h2>

            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>