<header class="container-fluid">
    <div
    class=" px-5 py-4
            d-flex align-items-center justify-content-center
            justify-content-md-between">
        <img
        src="../../../../assets/Logotipo-campaña-juguetes.png"
        alt="Logotipo de la campaña Juguetes"
        width="200">

        <p class="text-dark text-center text-opacity-75 fs-1 d-none d-lg-block">Juguetes por más sonrisas</p>

        <img
        src="../../../../assets/logo.png"
        alt="Logo de Somos más"
        class="d-none d-md-block"
        width="250px">
    </div>
</header>