<header class="container-fluid shadow">
    <div class=" px-5 py-3
            d-flex align-items-center justify-content-center
            justify-content-md-between">
        <img src="{{ imagen_campana }}" alt="Logotipo de la campaña Juguetes" width="{{ width_imagen_campana }}">

        <p class="text-dark text-center text-opacity-75 fs-1 d-none d-lg-block">
            {{ eslogan_campana }}
        </p>

        <img src="../../../../assets/logo.png" alt="Logo de Somos más" class="d-none d-md-block" width="80px">
    </div>
</header>