.container-fluid {
  padding: 0;
  //background-image: url("../../../../../assets/fondo.svg");
}
.content-all {
  height: 40vh;
}

.title {
  font-weight: 400;
}

.content-title {
  position: relative;
}
.title-2 {
  position: relative;
}
.title-2::after {
  position: absolute;
  width: 100px;
  height: 5px;
  content: "";
  top: 80%;
  left: 50%;
  background-image: url("https://www.ninandes.org//images/fotobotones/division.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.content-text {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}
.column {
  background-color: #8dc9f9;
  height: 150px;
}
.column-text {
  margin: 0;
}

.cuenta-regresiva {
  visibility: hidden;
}

.content-img img {
  width: 0;
}
h5 {
  font-size: 25px;
  font-weight: 300;
}

.container-text {
  padding-top: 20px;
  padding-left: 25px;
}
.text-2 {
  height: 80vh;
}
.image {
  position: relative;
}
.image::after {
  position: absolute;
  top: -600px;
  left: 0;
  width: 100%;
  content: "";
  height: 800px;
  background-image: url("https://www.ninandes.org/images/fotobotones/fundacion_ninos_andes.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (max-width: 768.9px) {
  .cuenta-regresiva {
    visibility: visible;
  }
  .column {
    background-color: #8dc9f9;
    height: 100%;
  }
  .content-all {
    height: 100%;
    p {
      font-weight: 700 !important;
    }
  }
  .text-2 {
    height: 100%;
    p {
      text-align: center;
    }
  }
}

@media (min-width: 1439.9px) {
  .cuenta-regresiva {
    visibility: visible;
  }
  .text-2 {
    height: 70vh;
  }
}
