
  <div class="content">
  <div class="table-responsive  table-responsive-sm">
    <h1 class="title">{{title}}</h1>
  <a [routerLink]="'/backoffice/activities/create'">Crear Actividad</a>
  <app-search-activities class="mb-3" style="width: 100%;" (actividades$)="setActividades($event)"></app-search-activities>
  <table class="table table-hover">
    <thead class="thead">
     <tr>
        <th class="table-dark" scope="col">Name</th>
        <th class="table-dark" scope="col">Image</th>
        <th class="table-dark" scope="col">Create_At</th>
        <th class="table-dark" scope="col">Editar</th>
        <th class="table-dark" scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let actividad of actividades">
        <td class="table-secondary">{{actividad.name}}</td>
        <td class="table-secondary" ><a [href]="actividad.image">{{actividad.image}}</a></td>
        <td class="table-secondary">{{actividad.created_at}}</td>
        <td class="table-secondary"><a [routerLink]="'./edit/'+actividad.id">Editar</a></td>
        <td class="table-secondary"><a [routerLink]="''">Eliminar </a></td>
      </tr>
    </tbody>
  </table>
</div>
</div>