.content-novedad{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content-title{
    width: 100%;
}

.title{
    display: flex;
    align-items: center;
    width: 100%;
}

.content-article{
    display: flex ;
     padding-top: 15px;
    justify-content: center;
    width: 100%;
    height: auto;
}

.content-img{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img{
    width: 30%;
}


.button{
    padding-bottom: 20px;
}

.article{
    border: none;
    align-items: center;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
}
