
<div class="content-novedad">
 
    <div class="title">
      <app-mostrar-titulos class="content-title" [img]="''" title="{{novedad.name}}"></app-mostrar-titulos>
    </div>
    <div class="content-novedad" >
    <div class="content-img"><app-lazy-load-img class="img"  [image]="novedad.image"></app-lazy-load-img></div>
    <div class="content-article"><p class="article" [innerHtml]="novedad.content"></p></div>
    
    <div class="button"><input type="submit" class="btn btn-danger btn-lg mt-4 px-5" value="Volver a Novedades" [routerLink]="'/novedades'"></div>
  </div>
  
  </div>
