<div class="content-all">
  <app-header></app-header>
  <div class="container-card">
  
    <div class="content-cards cards1">
      <div class="card">
        <div class="content-title"><h3 class="title">Novedades</h3></div>
        <div class="icon">
          <i class="bi bi-newspaper"></i>
        </div>
        <div class="btn">
          <input class="Ir" routerLink="/backoffice/news" type="submit" value="Ir">
        </div>
      </div>
      <div class="card">
        <div class="content-title"><h3 class="title">Actividades</h3></div>
        <div class="icon">
          <i class="bi bi-card-checklist"></i>
        </div>
        <div class="btn">
          <input class="Ir"  routerLink="" type="submit" value="Ir">
        </div>
        
      </div>
      <div class="card">
        <div class="content-title"><h3 class="title">Categorias</h3></div>
        <div class="icon">
          <i class="bi bi-menu-up"></i>
        </div>
        <div class="btn">
          <input class="Ir" routerLink="" type="submit" value="Ir">
        </div>
       
      </div>
      <div class="card">
        <div class="content-title"><h3 class="title">Testimonios</h3></div>
        <div class="icon">
          <i class="bi bi-chat-left-dots-fill"></i>
        </div>
        <div class="btn">
          <input class="Ir" routerLink="" type="submit" value="Ir">
        </div>
      </div>
    </div>
    <div class="content-cards cards2">
      <div class="card">
        <div class="content-title"><h3 class="title">Organización</h3></div>
        <div class="icon">
          <i class="bi bi-diagram-3-fill"></i>
        </div>
        <div class="btn">
          <input class="Ir" routerLink="/backoffice/organization"  type="submit" value="Ir">
        </div>
      </div>
      <div class="card">
        <div class="content-title"><h3 class="title">Slides</h3></div>
        <div class="icon">
          <i class="bi bi-stickies-fill"></i>
        </div>
        <div class="btn">
          <input class="Ir" routerLink="" type="submit" value="Ir">
        </div>
      </div>
      <div class="card">
        <div class="content-title"><h3 class="title">Usuarios</h3></div>
        <div class="icon">
          
          <i class="bi bi-person-check-fill"></i>
        </div>
        <div class="btn">
          <input class="Ir" routerLink=""  type="submit" value="Ir">
        </div>
      </div>
      <div class="card">
        <div class="content-title"><h3 class="title">Miembros</h3></div>
        <div class="icon">
          <i class="bi bi-people-fill"></i>
        </div>
        <div class="btn">
          <input  class="Ir" routerLink="" type="submit" value="Ir">
        </div>
      </div>
    </div>
  </div>

</div>


  




