<div class="container mt-5">
    <div class="row">
        <form>
            <div class="input-group shadow rounded">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" id="addon-wrapping"><i
                            class="bi bi-search pt-1" style="font-size: large;"></i></span>
                </div>
                <input id="buscador" type="text" autocomplete="off" class="form-control form-control-lg"
                    placeholder="Buscar Actividad por Título..." aria-describedby="search">
            </div>
        </form>
    </div>
</div>
