
<app-mostrar-titulos [title]="'Novedades'"></app-mostrar-titulos>
<div class="container"  style="padding-bottom: 20px;">
    <app-formulario-busqueda-novedades-web-publica (novedad)="novedadesDesdeBuscador = $event"></app-formulario-busqueda-novedades-web-publica>
    <div class="row">
        <div class="col-lg-4 col-md-4 mt-5" *ngFor="let novedad of novedades">
            <app-card routerLink="{{novedad.id}}" 
                [img]='novedad.image' 
                [title]="novedad.name" 
                [description]="novedad.content"
                [created_at]="novedad.created_at | date "
                [updated_at]="novedad.created_at | date "
            ></app-card>
        </div>
    </div>
    <br/>
    <br/>
    <div class="ultimo-evento">
        <h1>Ultimo Evento</h1>
        <div class="video">
            <iframe width="100%" height="615" src="https://www.youtube.com/embed/4YnSk1gI_Oo" 
             title="YouTube video player"
             frameborder="0" 
             allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
             allowfullscreen></iframe>
        </div>
    </div>
</div>


