<!-- <app-progressbar *ngIf="loading" [mode]="loading"></app-progressbar> -->
<div class="container">
  <div class="row text-center my-4">
    <h1>{{accion}} Novedad</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="cambiarModo()" class="row">
    <div class="col-lg-8 col-md-7">
      <div class="input-group mb-3">
        <input type="text" class="form-control py-3" id="titulo" placeholder="Titulo" formControlName="titulo" required
          [ngClass]="{'border-success' : form.controls.titulo.status == 'VALID' && form.controls.titulo.touched, 
                        'border-danger' : form.controls.titulo.status == 'INVALID' && form.controls.titulo.touched}">
      </div>
      <div class="mb-3">
        <input (change)="onFileSelect($event.target)" type="file" class="form-control" id="image"
          formControlName="image" accept="image/x-png, image/jpeg" required [ngClass]="{'border-success' : form.controls.image.status == 'VALID' && form.controls.image.touched, 
                        'border-danger' : form.controls.image.status == 'INVALID' && form.controls.image.touched}">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control py-3" id="categoria" list="categorias" placeholder="Categoria"
          formControlName="categoria"
          [ngClass]="{'border-success' : form.controls.categoria.status == 'VALID' && form.controls.categoria.touched, 
                        'border-danger' : form.controls.categoria.status == 'INVALID' && form.controls.categoria.touched}">
        <datalist id="categorias">
          <option *ngFor="let categoria of categorias">{{categoria.name}}</option>
        </datalist>
      </div>
      <div class="mb-3">
        <ckeditor formControlName="contenido"></ckeditor>
      </div>
      <button class="btn btn-lg rounded-lg px-5 mb-4" type="submit"
        [disabled]="form.controls.titulo.status == 'INVALID' || form.controls.contenido.status == 'INVALID' || form.controls.categoria.status == 'INVALID' || foto == null">{{accion}}</button>
    </div>
    <div class="col-lg-4 col-md-5 text-center">
      <img [src]="foto" alt="" class="img-fluid preview shadow mb-4">
      <p *ngIf="foto !== undefined">Imagen Preview</p>
    </div>
  </form>
</div>

