<div class="container pb-4">
    <div class="row text-center my-4">
        <h1>{{accion}} Testimonio</h1>
    </div>
    <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-lg-8 col-md-7">
            <div class="mb-3">
                <label for="imagen" class="mb-2">Imagen:</label>
                <input (change)="onFileSelect($event.target)" type="file" class="form-control" id="imagen"
                    formControlName="image" accept="image/x-png,image/jpeg" required />
                <div class="float-end mb-2">
                    <i class="bi bi-check-circle-fill text-success"
                        *ngIf="form.controls.image.status == 'VALID' && form.controls.image.touched"></i>

                    <i class="bi bi-x-circle-fill text-danger"
                        *ngIf="form.controls.image.status == 'INVALID' && form.controls.image.touched">
                        Seleccione una Imagen.
                    </i>
                </div>
            </div>
            <div class="mb-3">
                <label for="name" class="mb-2">Nombre:</label>
                <input type="text" class="form-control" id="name" placeholder="Nombre..." formControlName="name" required>
                <div class="float-end mb-2">
                    <i class="bi bi-check-circle-fill text-success"
                        *ngIf="form.controls.name.status == 'VALID' && form.controls.name.touched"></i>

                    <i class="bi bi-x-circle-fill text-danger"
                        *ngIf="form.controls.name.status == 'INVALID' && form.controls.name.touched">
                        Complete este campo (Min. 4 Carácteres).
                    </i>
                </div>
            </div>
            <div>
                <label for="description" class="mb-2">Descripción: </label>
                <ckeditor id="description" formControlName="description"></ckeditor>
                <div class="float-end mb-2">
                    <i class="bi bi-check-circle-fill text-success"
                        *ngIf="form.controls.description.status == 'VALID' && form.controls.description.touched"></i>

                    <i class="bi bi-x-circle-fill text-danger"
                        *ngIf="form.controls.description.status == 'INVALID' && form.controls.description.touched">
                        Complete este campo.
                    </i>
                </div>
            </div>

        <button
            [disabled]="form.controls.name.status == 'INVALID' || form.controls.description.status == 'INVALID' || foto == null"
            class="btn btn-lg rounded-lg px-5 my-4" type="submit">{{accion}}</button>
    </form>

        <div class="col-lg-4 col-md-5 text-center">
            <div *ngIf="foto != null || foto != undefined">
                <img [src]="foto" alt="" class="img-fluid preview shadow mb-4">
                <p *ngIf="foto !== undefined">Imagen Preview</p>
            </div>
        </div>
    </div>
</div>