<div class="row mw-100 mh-100 g-0">
  <div class="col-lg-6 col-sm-12">
    <form style="padding-top:25%; padding-inline:20%" (ngSubmit)="registrar()" [formGroup]="miFormulario">
      <h5>Bienvenido</h5>
      <h3>Registre su nueva cuenta!</h3>
      <div class="mb-4 mt-4">
        <input type="text" class="form-control form-control-lg" placeholder="Nombre" formControlName="name"
          [class.is-invalid]="controls.name.errors && controls.name.touched">
        <div class="invalid-feedback">
          Por favor digita un nombre de más de 3 carácteres
        </div>
      </div>
      <div class="mb-4">
        <input type="email" class="form-control form-control-lg" placeholder="Email" formControlName="email"
          [class.is-invalid]="controls.email.errors && controls.email.touched">
        <div class="invalid-feedback">
          Por favor digita un correo válido (ejemplo@ej.com)
        </div>
      </div>
      <div class="mb-4">
        <input type="password" class="form-control form-control-lg" placeholder="Contraseña" formControlName="password">
      </div>
      <div class="mb-4">
        <input type="password" class="form-control form-control-lg" placeholder="Confirmar contraseña"
          formControlName="password2" [class.is-invalid]="controls.password.errors && controls.password.touched">
        <div class="invalid-feedback">
          Contraseña inválida! La contraseña debe tener al menos una letra, número y caracter especial y un minimo de 6
          caracteres
        </div>
      </div>
      <div *ngIf="passMismatch" class="mb-3">
        <label class="text-danger">Las contraseñas deben ser iguales</label>
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-danger btn-primary btn-lg btn-block">Registrarse</button>
      </div>
      <div class="form-group p-3">
        <a class="link" (click)="readTerms()">Leer los terminos y condiciones de la ONG</a>
      </div>
      <div style="padding-top:55%; text-align:center; font-size:x-large">
        <label>Ya tienes una cuenta? <a style="text-decoration: none;" routerLink="/login" class="text-danger">Inicia
            sesión</a></label>
      </div>
    </form>

  </div>
  <div class="col-lg-6 col-sm-12 p-0">
    <img src="assets/register.png" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
  </div>
</div>