<div class="container mt-5">
    <div class="row">
        <form>
            <div class="input-group shadow rounded">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-light border-0" id="addon-wrapping"><i
                            class="bi bi-search"></i></span>
                </div>
                <input id="buscador" type="text" autocomplete="off" class="form-control"
                    placeholder="Buscar Actividad..." aria-describedby="search">
            </div>
        </form>
    </div>
    <div class="row mt-4" *ngIf="resultados.length !== 0">
        <h3>Resultados</h3>
        <div class="col-md-4 p-3" *ngFor="let actividad of resultados">
            <app-card [title]="actividad.name" [img]="actividad.image" [description]="actividad.description"></app-card>
        </div>
    </div>

</div>

