<div *ngFor="let contacto of contactos">
    <ul>
        <li><i class="bi bi-geo-alt-fill"></i> {{contacto.address}}</li>
        <li><i class="bi bi-telephone-fill"></i> {{contacto.phone | phone}}</li>
        <li><i class="bi bi-facebook"></i><a [href]="contacto.facebook_url"> {{contacto.facebook_url}}</a></li>
        <li><i class="bi bi-linkedin"></i><a [href]="contacto.linkedin_url">{{contacto.linkedin_url}}</a></li>
        <li><i class="bi bi-instagram"></i><a [href]="contacto.instagram_url">{{contacto.instagram_url}}</a></li>
        <li><i class="bi bi-twitter"></i><a [href]="contacto.twitter_url"> {{contacto.twitter_url}}</a></li>
    </ul>
</div>