<div class="table-responsive container mb-2">
    <table class="table table-hover">

        <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
    
          <tbody>
            <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: 10, currentPage: page }">
              <td>{{ usuario.name }}</td>
              <td>{{ usuario.email }}</td>
              <td class="d-flex justify-content-center gap-2">
                <button
                class="btn btn-primary"
                routerLink="/backoffice/users/edit"
                (click)="capturarUsuarioParaEditar(usuario)">
                    Editar
                </button>
                <button
                class="btn btn-danger"
                (click)="capturarUsuarioParaEliminar(usuario)">
                    Eliminar
                </button>
              </td>
            </tr>
          </tbody>
    
    </table>
</div>
<pagination-controls
(pageChange)="page = $event"
previousLabel="Anterior"
nextLabel="Siguiente"
class="text-center"></pagination-controls>