<app-header-campanas [imagen_campana]="'../../../../assets/Logotipo-campaña-juguetes.png'" [width_imagen_campana]="200"
    [eslogan_campana]="'Juguetes por más sonrisas'">
</app-header-campanas>
<app-slider [slider1]="'assets/slide-3.jpeg'" [slider2]="'assets/slide-2.jpeg'" [slider3]="'assets/slide-1.jpeg'"
    [mensaje1]="'Diversion y recreación de niños y niñas!'" [mensaje2]="'Deja tu huella'"
    [mensaje3]="'Con tu aporte podremos hacer el cambio!'"></app-slider>
<app-contenido-juguetes></app-contenido-juguetes>

<app-footer></app-footer>