.card-img-overlay {
  -webkit-box-shadow: inset -4px -116px 100px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset -4px -116px 100px 7px rgba(0, 0, 0, 0.75);
  box-shadow: inset -4px -116px 100px 7px rgba(0, 0, 0, 0.75);
  a {
    color: azure;
    font-size: 0.7rem;
  }
}
