<div *ngIf="(slides$ |async) as slides" id="carouselExampleCaptions" class="carousel slide pb-3"
    data-bs-ride="carousel">
    <div class="carousel-inner" *ngFor="let slide of slides;let index = index; first as isFirst">
        <div [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item'">
            <img [src]="slide.image" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block rounded-pill">
                <h3>{{slide.name}}</h3>
                <p [innerHtml]="slide.description"></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>