<app-progressbar *ngIf="mode" [mode]="mode"></app-progressbar>
<app-mostrar-titulos [title]="'Actividades'"></app-mostrar-titulos>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 mt-5" *ngFor="let actividad of actividades">
            <!-- Aqui iria el componente reutilizable de Cards -->
            <!-- <app-card [actividad]='actividad'></app-card> -->

            <!-- Esta card se eliminará -->
            <div class="card">
                <img [src]="actividad.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{actividad.name}}</h5>
                    <p class="card-text" [innerHTML]="actividad.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>