<div class="table-responsive container">
    <table class="table table-hover">

        <thead>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Imagen</th>
              <th scope="col">Order</th>
              <th scope="col"> </th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td class="py-3 py-md-4">Slide 1</td>
              <td>
                <img src="../../../../../../assets/logo.png" width="150px" class="py-0">
              </td>
              <td class="py-3 py-md-4">Order 1</td>
              <td class="d-flex justify-content-center gap-2 py-4">
                <button
                class="btn btn-primary"
                routerLink="/backoffice/slides/edit"
                >
                    Editar
                </button>
                <button
                class="btn btn-danger"
                >
                    Eliminar
                </button>
              </td>
            </tr>
          </tbody>
    
    </table>
</div>