<form
class="mt-5 mx-auto col-12 col-md-9 mx-lg-0 col-lg-6"
[formGroup]="form">

    <div class="d-flex flex-column gap-2 mb-3">
        <label for="texto-bienvenida">
            Texto de bienvenida:
        </label>
        <textarea
        formControlName="texto_bienvenida"
        style="resize: none;"
        class="form-control shadow"
        [ngClass]="[texto_bienvenida?.touched && form.invalid ? 'is-invalid' : 'border-dark']"
        name="texto-bienvenida"
        cols="30"
        rows="10"
        placeholder="Escriba un texto de 20 carácteres como mínimo para mostrar como bienvenida..."></textarea>
    </div>

    <div class="d-flex flex-column gap-2 mb-3">
        <label for="slide-1">
            Slide 1:
        </label>
        <input
        (change)="captureFiles($event)"
        type="file"
        class="form-control border-dark shadow"
        >
        <input
        formControlName="slide1_texto"
        type="text"
        class="form-control border-dark shadow"
        placeholder="Texto del slide 1...">
    </div>

    <div class="d-flex flex-column gap-2 mb-3">
        <label for="slide-2">
            Slide 2:
        </label>
        <input
        (change)="captureFiles($event)"
        type="file"
        class="form-control border-dark shadow">
        <input
        formControlName="slide2_texto"
        type="text"
        class="form-control border-dark shadow"
        placeholder="Texto del slide 2...">
    </div>

    <div class="d-flex flex-column gap-2 mb-3">
        <label for="slide-3">
            Slide 3:
        </label>
        <input
        (change)="captureFiles($event)"
        type="file"
        class="form-control border-dark shadow">
        <input
        formControlName="slide3_texto"
        type="text"
        class="form-control border-dark shadow"
        placeholder="Texto del slide 3...">
    </div>

    <div class="d-flex flex-column align-items-start gap-2 mt-3">
        <button
        class="btn btn-primary btn-lg fw-bold rounded shadow"
        (click)="submitForm()"
        [disabled]="form.invalid">
            Editar página
        </button>

        <!--SUSTITUIR POR LA RUTA CORRESPONDIENTE CUANDO ESTÉ LISTA-->
        <button
        routerLink="/backoffice/home"
        class="btn btn-light btn-lg border-dark fw-bold rounded shadow">
            Volver
        </button>
    </div>

</form>