<div class="offcanvas offcanvas-start text-bg-light" tabindex="-1" id="offcanvasDarkNavbar"
    aria-labelledby="offcanvasDarkNavbarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" href="backoffice/dashboard/news">Novedades</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" routerLink="/backoffice/activities">Actividades</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" href="backoffice/categories">Categorias</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" href="backoffice/testimonials">Testimonios</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page"
                    routerLink="/backoffice/organization">Organizacion</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" href="/backoffice/slides">Sliders</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" href="/backoffice/users">Usuarios</a>
            </li>
            <li class="nav-item py-3">
                <a class="nav-link active ps-1" aria-current="page" routerLink="dashboard/members">Miembros</a>
            </li>
        </ul>
    </div>
</div>